Repository PoApper/poapper-homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --cache --fix",
  "*.{jsx,css,scss}": "stylelint --fix",
  "*.{js,jsx,css,scss,md,mdx,json}": "prettier --write"
}

feat: add badges in person-card using api
  src/components/person-card.jsx
  src/images/badge/Dart.png
  src/images/badge/Dart_gold.png
  src/images/badge/Nest.png
  src/images/badge/Nest_gold.png
  src/images/badge/Nodejs.png
  src/images/badge/Nodejs_gold.png
  src/images/badge/Photoshop.png
  src/images/badge/Photoshop_gold.png
  src/images/badge/PoApper_pre.png
  src/images/badge/PoApper_vice.png
  src/images/badge/React.png
  src/images/badge/React_gold.png
  src/pages/people.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

update dropdown menu. edit dummy seminar list
  package-lock.json
  package.json
  src/components/seminar-list.js
  src/components/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

arrange files of components
  src/components/hacakthon/hackathon_information_card.jsx
  src/components/hacakthon/hackathon_question_and_answer.jsx
  src/components/hacakthon/hackathon_register.jsx
  src/components/index/bubbles.jsx
  src/components/index/content-card.jsx
  src/components/index/git-log.jsx
  src/components/index/hero.jsx
  src/components/index/overview.jsx
  src/components/index/poapper-inc-banner.jsx
  src/components/index/projects-and-activities.jsx
  src/pages/hackathon.jsx
  src/pages/index.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refine dropdown menu custom. edit meeting seminar card code
  src/components/seminar-list.js
  src/components/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix: code refactoring
  src/components/person-card.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refine codes to follow React coding rule
  src/components/person-card.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix: refactoring swithc statements as function
  src/components/person-card.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: make gradation header on every pages
  src/components/person-card.jsx
  src/pages/people.jsx
  src/pages/seminar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: add helmet on 'index' and 'people' pages
  src/pages/index.jsx
  src/pages/people.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

update hovertext color
  src/components/person-card.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: new logo
  src/components/navbar.jsx
  src/images/icon.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix: style navbar links according to meeting results
  src/components/navbar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix person-card css, and refactor component folder
  src/components/people/person-card.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

create onchange function. change seminar icon image
  src/components/seminar-timeline.jsx
  src/images/seminar/illustrator.png
  src/images/seminar/photoshop.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix: use svg logo
  src/components/navbar.jsx
  src/images/icon.png
  src/images/icon.svg
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix: add icon for gatsby-plugin-manifest
  src/images/icon.png
Due: none

fix typo
  src/pages/people.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

delete class
  src/components/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

edit sorting
  src/components/seminar-list.js
  src/components/seminar-timeline.jsx
  src/images/seminar/react.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

add sorting
  src/components/seminar-list.js
  src/components/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refine sort code and dummy values
  src/components/seminar-list.js
  src/components/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

separate component
  src/components/meeting-seminar-card.jsx
  src/components/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

separate component
  src/components/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

update logo and wording
  src/components/index/overview.jsx
  src/components/index/projects-and-activities.jsx
  src/images/hackathon_logo.png
  src/images/inpostack-logo.svg
  src/images/seminar_logo.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix: edit icon lines
  src/images/icon.svg
Due: none

separate seminar timeline bar
  package-lock.json
  src/components/seminar-timeline.jsx
  src/components/seminar/meeting-seminar-card.jsx
  src/components/seminar/seminar-list.js
  src/components/seminar/seminar-timeline-bard.jsx
  src/components/seminar/seminar-timeline.jsx
  src/pages/seminar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

refine css
  src/components/seminar/seminar-cardGrid.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix package-lock.json
  package-lock.json
Due: prettier --write

feat: implement opengraph images
  src/components/layout.jsx
  src/images/logo-large.png
Due: eslint --cache --fix, stylelint --fix, prettier --write

apply open in new tab
  package-lock.json
  src/components/footer.jsx
  src/components/hacakthon/hackathon_information_card.jsx
  src/components/index/bubbles.jsx
  src/components/index/content-card.jsx
  src/components/index/hero.jsx
  src/components/index/poapper-inc-banner.jsx
  src/components/people/person-card.jsx
  src/components/seminar/meeting-seminar-card.jsx
  src/components/seminar/seminar-cardGrid.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

2021-2 semester contents uploading
  src/components/hacakthon/hackathon_information_card.jsx
  src/components/seminar/seminar-list.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

implt seminar search
  package-lock.json
  package.json
  src/components/seminar/seminar-timeline-bard.jsx
  src/components/seminar/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

implt seminar search (#76)
  package-lock.json
  package.json
  src/components/seminar/seminar-timeline-bard.jsx
  src/components/seminar/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

1.1.0 to main (#77)
  package-lock.json
  package.json
  src/components/hacakthon/hackathon_information_card.jsx
  src/components/seminar/seminar-list.js
  src/components/seminar/seminar-timeline-bard.jsx
  src/components/seminar/seminar-timeline.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

add docker relates
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/docker-build.yml
  Dockerfile
Due: none

udpate docker script
  Dockerfile
Due: none

one step dockerfile
  Dockerfile
Due: none

add .env relates
  .dockerignore
  .env.production
Due: none

npm audit fix
  package-lock.json
Due: prettier --write

sync gh action pattern
  .github/workflows/docker-build.yml
Due: none
