Repository PoApper/poapper-homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

Initial setup for PoApper
  README.md
  gatsby-config.js
  package.json
  src/pages/index.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Un-FOSS website
  LICENSE
  package.json
Due: prettier --write

Add react-is (fix building)
  package-lock.json
  package.json
Due: prettier --write

Fix build by adding placeholder siteUrl
  gatsby-config.js
Due: eslint --cache --fix, prettier --write

Bump deps
  package-lock.json
  package.json
Due: prettier --write

upload layout of seminar page
  .gitignore
  package-lock.json
  package.json
  src/pages/seminar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

deps: bump deps
  package-lock.json
  package.json
Due: prettier --write

feat: add bubble component
  package-lock.json
  package.json
  src/components/bubbles.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: add bubble component size props
  src/components/bubbles.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: add bubble component to index page
  src/components/layout.jsx
  src/pages/index.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: implement bubble photo backgrounds
  src/components/bubbles.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

upload seminar logo pngs
  src/images/seminar/css.png
  src/images/seminar/dart.png
  src/images/seminar/express.png
  src/images/seminar/flutter.png
  src/images/seminar/html.png
  src/images/seminar/illustrator.png
  src/images/seminar/jest.png
  src/images/seminar/mysql.png
  src/images/seminar/nestjs.png
  src/images/seminar/nodejs.png
  src/images/seminar/photoshop.png
  src/images/seminar/react.png
  src/images/seminar/typeorm.png
  src/pages/seminar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: implement tooltips
  src/components/bubbles.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: set up GitHub GraphQL
  .gitignore
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

feat: apply GitHub profiles
  src/components/bubbles.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

chore: add example dotenv
  .env.example
Due: none

feat: improve bubble component structure
  src/components/bubbles.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: change index layout
  src/pages/index.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

chore: add comments
  src/components/bubbles.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs: add info on dotenv
  README.md
Due: prettier --write

fix: fix style error
  .gitignore
Due: none

fix: fix typo
  README.md
Due: prettier --write

refactor: use theme system for breakpoints
  .stylelintrc.json
  src/pages/index.jsx
  src/styles/theme.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

implement seminar timeline using 'react-chrono'
  package.json
  src/components/seminar-list.js
  src/components/seminar-timeline.jsx
  src/pages/seminar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

create a component for 'regular seminar gird'
  src/components/seminar-cardGrid.jsx
  src/components/seminar-list.js
  src/components/seminar-timeline.jsx
  src/pages/seminar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: add OctoKit for GitHub REST API
  package-lock.json
  package.json
Due: prettier --write

feat: implement basic GitHub member sourcing via REST
  gatsby-node.js
Due: eslint --cache --fix, prettier --write

chore: remove gatsby-plugin-graphql
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

feat: use GitHub REST API with optional auth
  .env.example
  gatsby-node.js
  src/components/bubbles.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

docs: add explanation on dotenv
  README.md
Due: prettier --write

update package.json and package-lock.json
  package-lock.json
  package.json
  src/pages/seminar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

infra: disable dependabot
  .github/dependabot.yml
Due: none

feat: add navbar
  src/components/layout.jsx
  src/components/navbar.jsx
  src/styles/theme.js
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: add navbar icon
  package-lock.json
  package.json
  src/components/layout.jsx
  src/components/navbar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix: fix navbar link hitbox
  src/components/navbar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: update navbar border
  src/components/navbar.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat: initial footer development
  src/components/footer.jsx
  src/components/layout.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

start main/projectseminar
  .env.example
  src/components/projectseminar.jsx
  src/pages/ps.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

made basic form
  src/components/projectactivities.jsx
  src/components/projectseminar.jsx
  src/pages/pa.jsx
  src/pages/ps.jsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.{jsx,css,scss}
  prettier --write: any of: *.{js,jsx,css,scss,md,mdx,json}
